*{padding: 0; margin: 0; box-sizing: border-box;}
.header {
	text-align: center;
	width: 100%;
	height: auto;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
	/*border-radius: 0 0 85% 85% / 30%;*/
}
.header .overlay{
	width: 100%;
	height: 100%;
	padding: 50px;
	color: var(--colore-bianco);
	text-shadow: 1px 1px 1px var(--colore-nero);
    opacity: 0.5;
  background-image: linear-gradient( 135deg, var(--colore-bianco) 10%, var(--colore-nero) 70%);
	
}

.header .overlay h1 {
	font-family: var(--font-testo);
	font-size: 80px;
  opacity: 1;
	margin-bottom: 30px;
}

.header h3, p {
	font-family: var(--font-testo);
	margin-bottom: 30px;
}

.body{
    display: flex;
    flex-direction: column;
	background-color: var(--colore-bianco);
}
/*bottone*/
.box {
	width: 140px;
	height: auto;
	float: left;
	transition: .5s linear;
	position: relative;
	display: block;
	overflow: hidden;
	padding: 15px;
	text-align: center;
	margin: 0 5px;
	background: transparent;
	text-transform: uppercase;
	font-weight: 900;
  }
  
  .box:before {
	position: absolute;
	content: '';
	left: 0;
	bottom: 0;
	height: 4px;
	width: 100%;
	border-bottom: 4px solid transparent;
	border-left: 4px solid transparent;
	box-sizing: border-box;
	transform: translateX(100%);
  }
  
  .box:after {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 4px;
	border-top: 4px solid transparent;
	border-right: 4px solid transparent;
	box-sizing: border-box;
	transform: translateX(-100%);
  }
  
  .box:hover {
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  
  .box:hover:before {
	border-color: var(--colore-blu);
	height: 100%;
	transform: translateX(0);
	transition: .3s transform linear, .3s height linear .3s;
  }
  
  .box:hover:after {
	border-color: var(--colore-terra);
	height: 100%;
	transform: translateX(0);
	transition: .3s transform linear, .3s height linear .5s;
  }
  
  button {
	color: var(--colore-bianco);
	text-decoration: none;
	cursor: pointer;
	outline: none;
	border: none;
	background: transparent;
  }


  /*paragrafi*/

.sezione{
	width: 100%;
}
.sezione h4{
	font-family: var(--font-testo);
	align-self: center;
	text-align: center;
	justify-content: center;
	font-size: 50px;
	margin: 0;
	padding: 0;
}
#paragrafoEnd{
	align-items: flex-end;
}
#sezione2{
	background-color: var(--colore-blu);
	color: var(--colore-bianco);
}
#sezione3{
	background-color: var(--colore-terra);
}

.paragrafo{
	display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: justify;
	width: 90%;
	padding-top: 6%;
	padding-left: 10%;
	padding-bottom: 6%;


}

/* ImageParagraph.css */
.image-paragraph{
  height: 500px; 
  width: 75%;
  margin: 0 auto;  
  box-shadow: -1px 9px 18px -5px rgba(17,17,17,1);
  overflow: hidden;
  background-color: var(--colore-blu);
  position: relative;
  margin-bottom: 5%;
  margin-top: 5%
}

.image-paragraph img {
  width: 100%;
}
/* .image-paragraph {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 20px auto;
    width: 50%; 
    box-shadow: 0px 10px 6px -4px var(--colore-terra);
    border-radius: 10px; 
    background: var(--colore-nero); 
} */

/* .image-paragraph img {
    max-width: 100%; 
    height: auto; 
    border-radius: 10px;
} */


/*footer */
  .footer {
	background-color: var(--colore-blu);
	height: 20%;
	position: relative;
	border-radius: 85% 85% 0 0/ 30%;
	overflow: hidden; /* Nasconde eventuali contenuti che superano il bordo curvo */
	box-shadow: 0 -5px 15px rgba(13, 44, 102, 0.5);
}
 .footer .card{
background-color: var(--colore-blu);
color: var(--colore-bianco);
 }
 .footer .box{
	color: var(--colore-bianco);
 }
 .footer .box:hover:before {
	border-color: var(--colore-terra);
  }

.footer .card .card-header{
	border-bottom: 1px dashed var(--colore-terra);
}
.footer .card .card-body{
	font-family: var(--font-testo);
}
  /*immagini carine*/
.demo {
    height: 500px; 
    width: 1200px;
    margin: 0 auto;  
    -webkit-box-shadow: -1px 9px 18px -5px rgba(17,17,17,1);
    -moz-box-shadow: -1px 9px 18px -5px rgba(17,17,17,1);
    box-shadow: -1px 9px 18px -5px rgba(17,17,17,1);
    overflow: hidden;
    background-color: var(--colore-blu);
    position: relative;
	margin-bottom: 10%;
}

.demo-description {
    flex: 0 0 25%;
    padding-right: 30px;
}

.demo-description__title {
    font-family: var(--font-testo);
    font-size: 40px;
    letter-spacing: 1.5px;
    margin: 0;
}

.demo-description__p {
    font-size: 17px;
}


/* ====== MAIN CODE ===== */
.coursemeal {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.coursemeal__div {
    flex: 0 0 33.3333333%;
    position: relative;
}

.responsive-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.coursemeal-info {
    background-color: rgba(13, 44, 102, 0.5);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 15%;

    display: flex; 
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    transition: all 0.4s;
}

.coursemeal-info__link {
    font-family: var(--font-testo);
    font-size: 40px;
    color: var(--colore-bianco);
    text-align: center;
    letter-spacing: 1.8px;
    margin: 0;
    text-decoration: none;

    transition: all 0.4s;
}

.coursemeal__div:hover .coursemeal-info {
    height: 100%;
    background-color: rgba(13, 44, 102, 0.6);

}

@media only screen and (max-width: 1200px) {
    body {
        flex-wrap: wrap;
    }

    .demo-description { 
        padding: 0;
        flex: 0 0 100%;
        text-align: center;
    }

}

@media only screen and (max-width: 991px) {
    .demo-description  {
        margin-bottom: 30px;
    }

    .coursemeal  {
        height: 900px;
        flex-wrap: wrap;
    }

    .coursemeal__div {
        flex: 0 0 100%;
        height: 33.33333%;
    }

    .responsive-img img {
        height: 100%;
    }

    .coursemeal__div:nth-of-type(2) img {
        object-position: 50% 70%;
    }

    .coursemeal-info {
        height: 20%
    }
}

@media only screen and (max-width: 767px) {
    .coursemeal__div:nth-of-type(1) img {
        object-position: 50% 75%;
    }

    .coursemeal__div:nth-of-type(3) img {
        object-position: 50% 60%;
    }    

    .coursemeal-info__title {
        font-size: 25px;
    }    
}

/*bottone vai*/
#button-studio{
  margin-top: 5%;
    display: flex;
    justify-content: center;
    padding-bottom: 10%;
}
.cta {
    border: none;
    background: none;
    cursor: pointer;
    text-decoration: none;
  }
  
  .cta span {
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 14px;
    padding-right: 15px;
    text-transform: uppercase;
  }
  
  .cta svg {
    transform: translateX(-8px);
    transition: all 0.3s ease;
  }
  
  .cta:hover svg {
    transform: translateX(0);
  }
  
  .cta:active svg {
    transform: scale(0.9);
  }
  
  .hover-underline-animation {
    position: relative;
    color: var(--colore-blu);
    padding-bottom: 20px;
  }
  
  .hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--colore-blu);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .cta:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  