.contIntervista{  
   display: flex;
   flex-direction: column;
    background-color: var(--colore-bianco);
    margin-bottom: 20%;
}


.question .boxq {
    width: 70%;
    color: var(--colore-bianco);
    padding: 15px;
    text-align: justify;
    background: var(--colore-blu); /* For browsers that do not support gradients */
    background: linear-gradient(to bottom right,  rgba(13, 44, 102, 1)10%, rgba(191, 156, 136, 1)90% ); /* Standard syntax */
    margin: 40px auto;
    margin-bottom:15px;
    border-radius: 50px 0px 50px 0px;
  }

.answer .boxa {
    width: 70%;
    color: var(--colore-bianco);
    padding: 15px;
    text-align: justify;
    background: var(--colore-terra); /* For browsers that do not support gradients */
    background: linear-gradient(to top right, rgba(191, 156, 136, 1)40% , rgba(13, 44, 102, 1) ); /* Standard syntax */
    margin: 40px auto;
    margin-top:15px;
    border-radius: 0px 50px 0px 50px;
  }